# Env
.env
.venv/
.pytest_cache/
__pycache__/

# URGENT! DO NOT SEND CREDENTIALS TO GITHUB!
/credentials/**

# DO NOT SEND COMPILED FILES
/cbots/**/bin/
/cbots/**/obj/
/cbots/**/*.algo
/tests/dotnet/**/bin/
/tests/dotnet/**/obj/
